// SETTINGS REGROUPE TOUS LES REGLAGES GENERAUX

@font-face {
    font-family: "font1";
    src: url(../fonts/PermanentMarker-Regular.ttf);
}

$color1: pink;
$color2: orange;
$color3: rgb(22,22,22);
$font1: font1, sans-serif;

// MIXINS

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;    
}

body{
    background: $color2;
    font-family: $font1;
}